.btnCancelar{
    height: 30px;
    width: 120px;
    background-color: #fe2926;
    position: absolute;
    top: 100px;
    left: 180px;
    border-radius: 25px;
    border: 1px solid #6e0807;
    box-shadow: 2px 2px #6e0807;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
